@page

@model IndexModel
@{
}
<table id="list" class="table table-striped table-sm">
</table>
<div id="details"></div>

@section Scripts
{
    <script>
        // получить Uri к api/Militaries
        var uri = "@Url.Action("GetMilitaries", "Militaries")";
//        jQuery(document).ready(function($) {
        $(document).ready(function () {
            // Получить список объектов
            $.getJSON(uri, function (data) {
                // Для каждого элемента списка
                $.each(data, function (index, value) {
                    // создать строку таблицы и добавить ее в таблицу
                    $("#list").append(createRow(index+1, value));
                });
            })
        });

        // Функция формирования одной строки таблицы
        // index - порядковый номер
        // data - объект данных
        function createRow(index, data) {
            // создать строку таблицы
            var row = $("<tr>");
            // добавть колонку с порядковым номером
            row.append("<td>" + index + "</td>");
            // добавить колонку с названием
            row.append("<td>" + data.militaryName + "</td>");
            // создать кнопку
            var button = $("<button>")
                .addClass("btn btn-default")        // стиль кнопки
                .click(data.militaryId, showDetails)    // подписка на событие click
                .text("Подробно");                  // надпись
            // создать колонку с кнопкой
            var td = $("<td>").append(button);
            // добавить в строку таблицы
            row.append(td);
            return row;
        }

        //Функция выода информации о выбранном объекте
        function showDetails(e) {
           // Послать запрос
            $.getJSON(uri + "/" + e.data, function (data) {
                // строка информации об объекте
                var details = data.militaryName + ": " + data.description + " - " + data.force + " пунктов";
                $("#details")           // Найти блок для информации
                    .empty()            // очистить содержимое
                    .text(details);     // записать новый текст
            })
        }
    </script>
}
